---
layout: base.njk
title: Bitcoin Halving Schedule
---

<style>
  /* Force the layout container to expand for this specific page */
  main, .container, .wrapper {
    max-width: 95% !important;
    width: 100% !important;
  }
</style>

<h1>Bitcoin Halving Schedule</h1>
<h3>Shows how Bitcoin gets more scarce over time. Orange=Predicted<h3>

<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSICdkj_3yQI8GOv5iRCUpbXXKDwqB-7cdMoQJWcGnrF9Wv7r9LMmWTa0Nyxar8Sw_xlFmN6H21TBJf/pubhtml?widget=true&amp;headers=false&amp;chrome=false" width="100%" height="820" style="border: none;"></iframe>