---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://agosta.net/</loc>
  </url>
  {%- for page in collections.all %}
    {%- if page.url and page.url != "/" %}
  <url>
    <loc>https://agosta.net{{ page.url }}</loc>
  </url>
    {%- endif %}
  {%- endfor %}
</urlset>